@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
}



header{
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    z-index: 1;
}

.container {
    max-width: 935px;
    min-width: 336px;
   display:flex;
    margin: 0 auto;
}

main .container {
    position: relative;
}

.content{
    width: 100%;
}

header .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container input{
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    outline: none;
    color: #979797;
    padding: 0 10px;
    background-color: rgb(250, 250, 250);
    font-size: 12px;
}
.container input::placeholder{
    color: #979797;
    text-align: center;
}

.icons_header{
    display: flex;
    margin-right: 16px;
}
.icons_header a{
    margin-left: 20px;
}

.icons-properties{
    font-size: 22px;
}

.logo{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.logo img{
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #DBDBDB;
}

.main-content{
    max-width: 614px;
    margin-right: 28px;
    display: flex;
    flex-direction: column;
}

.stories{
    width: 100%;
    height: 118px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-top: 88px;
    overflow: hidden;
    position: relative;
}
.button-right{
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 35%;
    right: 10px;
    border-radius:50%;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-right:hover{
    cursor: pointer;
}

.stories_slider{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.story{
    width: 66px;
    height: 91px;
    margin: 18px 0 0 14px;
}
.bg-img{
    background: url(../icons/stories_background.jpg);
    width: 66px;
    height: 66px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}
.bg-img img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    
}
.userName_story{
    width: 66px;
    height: 12px;
    color: #262626;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed{
    width: 100%;
    margin-top: 24px;
}
.header_post{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 17px 13px 17px;
}
ion-icon[name="ellipsis-horizontal"]{
    color: #262626;
}
.header_post a{
    display: flex;
    align-items: center;
}
.header_post img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 15px;
}
.userName_post{
    font-size: 14px;
    color: #262626;
    font-weight: 500;
}

.post{
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
}
.post > a {
    width: 100%;
}
.post > a > img{
    width: 100%;
}
.post > a > video{
    width: 100%;
    height: 100%;
}
.actions_post{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 15px;
}
.actions_post > div{
    display: flex;
    align-items: center;
}
.actions_post > div > a {
    margin-right: 14px;
}

.numberOfLikes_post{
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 9px;
}
.numberOfLikes_post > a > img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.numberOfLikes_post > span{
    font-weight: 500;
}

.comments-area{
    padding: 0 15px;
    width: 100%;
}
.view-all-comments{
    color: #8E8E8E;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}
.comments{

}
.comment{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.comment > div{
    display: flex;
    font-size: 16px;
    width: 100%;
}
.comment a{
    font-weight: 700;
    margin-right: 5px;
}
.comment ion-icon{
    color: #8E8E8E;
}

.publication-date{
    color: #8E8E8E;
    font-size: 10px;
    text-transform: uppercase;
    margin: 15px 0 5px 15px;
}

.comment-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 10px 15px;
}
.comment-input > a > ion-icon{
    width: 24px;
    height: 24px;
}
.comment-input .button{
    color: #B2DFFC;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.3s ease-out;
}
.comment-input .button:hover{
    color: #0095F6;
}

.comment-input input{
    position: relative;
    width: 100%;
    border: 0;
}
.comment-input input::placeholder{
    color: #979797;
    text-align: left;
}
.sidebar{
    position: absolute;
    left: 642px;
}
.sidebar > div{
    position: fixed;
    width: 293px;
    height: 463px;
    margin-top: 55px;
}
.owner-profile{
    display: flex;
    align-items: center;
    margin: 57px 0 27px 0;
}
.owner-profile > a{
    margin-right: 17px;
}
.owner-profile > a > img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.owner-profile .desc-profile a{
    font-size: 14px;
    color: #8E8E8E;
    font-weight: 300;
}
.desc-profile > a > span{
    color: #262626;
    font-weight: 500;
    display: block;
    margin-bottom: 2px;
    font-size: 14px;
}

.title-suggestions{
    display: flex;
    justify-content: space-between;
    color: #8E8E8E;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 17px;
}
.suggestion-profile {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    
}
.suggestion-profile > a > img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 11px;
}
.suggestion-profile > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.suggestion-profile > div > a{
    color: #139EF2;
    font-size: 12px;
    font-weight: 500;
}
.suggestion-profile .desc-profile{
    font-size: 12px;
    color: #8E8E8E;
    font-weight: 300;
}

.info{
    font-size: 11px;
    color: #C7C7C7;
}
.info div:first-child{
    margin: 35px 0 19px 0;
}

.mobile-only{
    display: none;
}

.bottom-bar{
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 19px;
    display:none;
}
.bottom-bar ion-icon{
    width: 22px;
    height: 22px;
}

@media(max-width: 935px){
    .sidebar{
        display: none;
    }
    .main-content{
        margin: 0 auto;
    }
}

@media(max-width: 614px){
    header input,
    .icons_header{
        display: none;
    }
    .logo .mobile-only{
        display: block;
    }
    .container{
        display: block;
    }
    header .container > a{
        width: 65%;
    }
    .logo{
        width: 100%;
        justify-content: space-between;
        margin: 0 16px 0 20px;
    }
    .logo img{
        border: 0;
    }

    .button-right{
        display: none;
    }

    .feed{
        width: 100%;
        margin-top: 10px;
    }

    .bottom-bar{
        display: flex;
        margin: 0;
        padding-right:20px;
        padding-left:20px;
    }
    .stories{
        border: 0;
        margin-top: 54px;
    }
}